<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CV Maxime Franc</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3143.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3153.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3161.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3169.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3182.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3202.JPG') }}" />  <!-- ... -->
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3209.JPG') }}" />
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3217.JPG') }}" /> <!-- ... -->
    </div>
    <div>
      <img class="h-auto max-w-full rounded-lg" src="{{ url_for('static', filename='img/DSCF3754.JPG') }}" /> <!-- ... -->
    </div>
  </div>
</body>
